.material{
    --box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
}

button.material{
    border-radius: 28px;
    align-items: center;
    border: 0;
    background: var(--theme-color);
    padding: 16px;
    display: inline-flex;
    color: var(--bg-color);
    text-decoration: none;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);
    user-select: none;
    outline: none;
    transition: filter 0.8s;
    &:hover{
        filter: brightness(135%);
    }
    &:active {
        filter: brightness(185%);
        transition: filter 0s;
    }
    > span {
        font-size: 18px;
    }
    &.contextual{
        > i{
            pointer-events: none;
        }
        + .contextual-popup-bg{
            position: fixed;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            z-index: 999998;
            pointer-events: none;
            + .contextual-popup-fg{
                pointer-events: none;
                display: flex;
                position: fixed;
                flex-direction: column;
                justify-content: flex-start;
                height: calc((var(--child-count) * 48px) + 16px);
                z-index: 999999;
                top: calc((var(--btn-y) + var(--btn-height)) * 1px);
                > ul{
                    overflow: hidden;
                    height: 0;
                    flex-grow: 1;
                    background-color: #fff;
                    transition: flex 0.1s linear, padding 0.1s linear;
                    flex: 0;
                    box-shadow: var(--box-shadow);
                    margin: 0;
                    border-radius: 1px;
                    padding: 0;
                    > li{
                        cursor: pointer;
                        color: var(--menu-head-bg);
                        font-size: 14px;
                        height: 48px;
                        line-height: 48px;
                        padding: 0 16px;
                        margin: 0;
                        border: none;
                        &:hover{
                            background-color: #0000001c;
                        }
                    }
                }
                > div{
                    height: 0;
                }
                &.align-right{
                    right: calc((var(--window-width) - var(--btn-x) - var(--btn-width)) * 1px);
                }
                &.align-left{
                    left: calc(var(--btn-x) * 1px);
                }
            }
        }
        &.open{
            + .contextual-popup-bg{
                pointer-events: all;
                + .contextual-popup-fg{
                    pointer-events: all;
                    > ul{
                        padding: 8px 0;
                        flex: 1;
                    }
                }
            }
        }
    }
}

input, textarea, button{
    outline: none;
}

h1.material,h2.material{
    margin-left: 8px;
}

*{
    user-select:none;
}

.material{
    &.toggle{
        > *{
            display: none;
        }
        > label{
            > i.material-icons{
                font-size: 32px;
            }
        }
    }
    &.switch{
        display: flex;
        margin: 5px;
        border: 1px solid var(--theme-color);
        border-radius: 1px;
        cursor: pointer;
        > *{
            background-color: var(--bg-color);
            color: var(--theme-color);
            padding: 2px;
        }
        > .active{
            background-color: var(--theme-color);
            color: var(--bg-color);
        }
    }
    > input[type=checkbox]{
        ~ label{
            display: none;
        }
        &:checked{
            ~ label.on{
                display: flex;
            }
        }
        &:not(:checked){
            ~ label.off{
                display: flex;
            }
        }
    }
    > label{
        margin-left: 5px;
        &.on{
            color: var(--good-color);
        }
        &.indeterminate{
            color: var(--warning-color);
        }
        &.off{
            color: var(--error-color);
        }
    }
    &.block{
        padding: 8px;
        margin: 8px;
        box-shadow: var(--box-shadow);
        background-color: #fff;
    }
}
